

  <!-- Main Content -->
  <main class="w-full max-w-4xl mx-auto mt-8 px-4 flex-1">
    <% user.trips.forEach((trip) => { %>
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 mb-6">
      <h2 class="text-2xl font-semibold text-blue-300 mb-4"><%= trip.tripTitle %></h2>

      <% 
                  let totalExpense = 0; 
                  trip.expenses.forEach((expense) => {
                      totalExpense += expense.amount;
                  });
              %>

      <p class="text-lg font-medium text-green-400 mb-4">Total Expenses: ₹<%= totalExpense %></p>

      <ul class="list-disc pl-5">
        <% trip.expenses.forEach((expense) => { %>
        <li class="text-gray-300 mb-2">
          <span class="font-semibold text-blue-400"><%= expense.title %>:</span> ₹<%= expense.amount %>
        </li>
        <% }); %>
      </ul>
    </div>
    <% }) %>
  </main>
